.tp-brand__slider .swiper {
  overflow: hidden;
}

.tp-brand__slider .swiper-wrapper {
  transition-timing-function: linear !important;
  align-items: center;
}

.tp-brand__slider .swiper-slide {
  opacity: 1;
  transition: transform 0.3s ease;
}

.tp-brand__logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tp-brand__logo img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;
}

.tp-brand__logo:hover img {
  filter: grayscale(0);
  opacity: 1;
  transform: translateY(-5px);
}